<h1>Użytkownik: <%= name %></h1>
<ul>
    <% users.forEach(user => { %>
        <li><a href="/firmy/<%= user.id %>">Nazwa: <%= user.name %>, adres mailowy: <%= user.email%></a></li>
    <% }); %>
</ul>