<%- include('partials/header'); -%>
<% let html = 'Lista firm: <br>'; %>
<% companies.forEach(myFunction); %>
<% function myFunction() { %>
    <% html += `<li>${companies.name}</li><br>` %>
<% }; %>
<%- include('partials/footer'); -%>

